.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
}

.modal-ok-btn {
    width: 82px;
    margin: 10px;
    outline: none;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    background: #b6b6b6;
}

.modal-ok-btn:hover {
    cursor: pointer;
    background: #3e9ad3;
    color: #fff;
    transition-timing-function: ease-in;
    transition: .4s;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}