.show-combination {
    width: 190px;
    background: #cccccc29;
    border: 1px solid #ccc;
    box-shadow: inset -2px -2px 10px -1px rgba(0,0,0,0.75);
    text-align: center;
    margin: 50px auto 15px;
    padding: 25px;
    font-size: 25px;
}

.green {
    background: #299c5d;
    width: 190px;
    border: 1px solid #ccc;
    box-shadow: inset -2px -2px 10px -1px rgba(0,0,0,0.75);
    text-align: center;
    margin: 50px auto 15px;
    padding: 25px;
    font-size: 25px;
}

.number {
    outline: none;
    width: 50px;
    height: 45px;
    background: #b6b6b6;
    margin-bottom: 10px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}
.number:hover {
    cursor: pointer;
    background: #3e9ad3;
    color: #ffffff;
    transition-timing-function: ease-in;
    transition: .4s;
}

.flex-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 205px;
    margin: 0 auto 10px;
}
.num-btn {
    width: 33%;
}

.sub-btn {
    width: 82px;
    margin: 10px;
    outline: none;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    background: #b6b6b6;
}
.sub-btn:hover {
    cursor: pointer;
    background: #3e9ad3;
    color: #fff;
    transition-timing-function: ease-in;
    transition: .4s;
}